
{{#each expenses}}
    <section class="ui yellow stacked segment">
        <h2 class="ui header">
            {{title}}
        </h2>

        <p> Total Amount: € {{total}} </p>
        <p> split: {{#each payments}} € {{split}} {{/each}} </p>
        <p> Owed: {{#each payments}} {{payer}} owed € {{owed}} for {{title}} {{/each}} </p>
        <p> split:  € {{memberOwedTotal}}  </p>
        <a href="/expense/{{id}}" class="ui icon button">
            <i class="icon folder open"></i>
        </a>
        <a href="/group/{{../group.id}}/deleteexpense/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
        </a>
    </section>
{{/each}}
