
{{#each expenses}}
    <section class="ui stacked segment">
        <h2 class="ui header">
            {{title}}
        </h2>
        <p> Total Amount: € {{total}} </p>
        <a href="/expense/{{id}}" class="ui icon button">
            <i class="icon folder open"></i>
        </a>
        <a href="/group/{{../group.id}}/deleteexpense/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
        </a>
    </section>
{{/each}}
